/* Universal selector */
* {
  background-color: #f4f4f4;
  padding: 10px;
}

/* class selector */
.two {
  color: rgb(169, 37, 37);
}

/* id selector */
#special {
  color: rgb(28, 3, 52);
}

/* Attribute selector */
a[href="www.google.com"] {
  color: chartreuse;
}

/* if we want to select all the links that start with the same id  */
a[href^="www.google.com"] {
  color: brown;
}

/* Combinators */

/* 1. Child selector */
section > h2 {
  /* This would only select the h2 which is directly inside the section (Direct child) */
  color: rgb(41, 207, 41);
}

/* 2. Sibling selector */
h2 ~ p {
  /* This would select all the siblings of h2 which are paragraphs */
  color: darkorchid;
}

h2 + a {
  /* we can select the adjacent siblings using the + sign  */
  color: deepskyblue;
}
