* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 65%;
}

.boxes {
  border: 1rem solid rgb(81, 81, 139);
}

.box1 {
  padding: 3rem;
  background: lightcoral;
  grid-area: box1;
}

.box2 {
  padding: 3rem;
  background: rgb(229, 240, 128);
  grid-area: box2;
}

.box3 {
  padding: 3rem;
  background: rgb(128, 240, 128);
  grid-area: box3;
}

.box4 {
  padding: 3rem;
  background: rgb(128, 240, 212);
  grid-area: box4;
}

.box5 {
  padding: 3rem;
  background: rgb(128, 186, 240);
  grid-area: box5;
}

.box6 {
  padding: 3rem;
  background: rgb(204, 128, 240);
  grid-area: box6;
}

.boxes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    "box3   box3 box3"
    "box4 . box5"
    "box1 . box6"
    "box2  box2 box2";
}

.port {
  border: 1rem solid rgb(81, 81, 139);
}

.port1 {
  padding: 3rem;
  background: lightcoral;
  grid-column: 1/2;
}

.port2 {
  padding: 3rem;
  background: rgb(229, 240, 128);
  grid-column: 1/4;
}

.port3 {
  padding: 3rem;
  background: rgb(128, 240, 128);
  grid-column: 1/4;
  grid-row: 1/2;
}

.port4 {
  padding: 3rem;
  background: rgb(128, 240, 212);
  grid-column: 1/2;
  grid-row: 2/3;
}

.port5 {
  padding: 3rem;
  background: rgb(128, 186, 240);
  grid-column: 3/4;
  grid-row: 2/3;
}

.port6 {
  padding: 3rem;
  background: rgb(204, 128, 240);
  grid-column: 3/4;
  grid-row: 3/4;
}

.port {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* justify-items: center; */
}
