* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 65%;
}

.clear {
  clear: both;
}

h1 {
  font-size: 2.8rem;
}

h2 {
  font-size: 3rem;
  padding: 5rem 0rem;
}

a {
  color: black;
  text-decoration: none;
  font-size: 2.2rem;
}
h3 {
  font-size: 2.8rem;
}
button {
  font-size: 1.8rem;
}

nav {
  background: gold;
  color: black;
  padding: 3rem;
}

nav h1 {
  float: left;
}
nav ul {
  float: right;
  list-style: none;
}

nav li {
  float: left;
  margin: 0rem 3rem;
}

.hero-section {
  background-image: url("/PROJ2/photo.jpg");
  height: 80rem;
  background-position: center;
  background-size: cover;
  text-align: center;
  color: white;
  padding-top: 12rem;
  text-shadow: 3px 3px 10px black;
}

.hero-section button {
  margin-top: 4rem;
  padding: 1rem 4rem;
  background: gold;
  border: none;
  color: black;
  cursor: pointer;
  border-radius: 1.5rem;
}

.form-section {
  text-align: center;
}

form input,
form label,
form textarea {
  display: block;
  font-size: 2.5rem;
}

form input,
form textarea {
  margin: 2rem auto;
  width: 50%;
}

form button {
  margin-bottom: 8rem;
  padding: 1rem 4rem;
  background: gold;
  border: none;
  color: black;
  cursor: pointer;
  border-radius: 1.8rem;
  width: 50%;
}
