* {
  font-weight: bold;
  background-color: #f4f3f0;
}

h1 {
  padding-top: 100px;
  text-align: center;
  color: #6c00ff;
}

h2 {
  color: #ff0800;
}

h2:first-of-type {
/* :first-of-type is a pseudo selector that would select the first appearing tag of the defined type and apply the styling */
  color: rgb(55, 52, 2);
}

p {
  text-align: end;
  font-size: large;
  color: #6c00ff;
  padding: 5px;
}

/* pseudo class selectors */
a:link {
  color: #952686;
}
/* The above pseudo selector would apply the css to the link
 before we click on them, after clicking it would not be applicable */

a:visited {
  color: #ff0000;
}
/* The above pseudo selector would apply the css to the link
 after clicking it */

.hello h2::first-letter {
  font-size: 4em;
}

.hello h2::before {
  content: "💫";
}

.hello h2::after {
  content: "💫";
}

.form {
  text-align: center;
}
.form:hover {
  color: #ff0000;
}